.content-width {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
    margin: 0;
    padding: 0;
}

a {
  color: black;
      text-decoration: none;
}

ul {
  list-style: none;
}

li {
  display: list-item;
}

img {
  width: 100%;
}

.pc-br {
    display: block;
}

.contents-tidy {
  display: flex;
  justify-content: space-between;
}

.site-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 767px){
.site-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

}

.header-logo > .header-logo-pc {
  width: auto;
  height: 20px;
}

.header-navi {
  display: inline-flex;
}

.header-navi-list {
  align-items: center;
  margin-left: 30px;
}


.header-navi-list .header-navi-details > span {
  font-weight: bold;
  text-align: center;
  color: black;
  display: block;
}

.header-navi-list .header-navi-details > span:first-child {
  font-size: 15px;
}

.header-navi-list .header-navi-details > span:last-child {
  font-size: 10px;
}

.link-button {
  font-size: 14px;
  font-weight: bold;
  background-color: orange;
  justify-content: center;
  border-radius: 30px;
  display: flex;
  border: none;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 5px 10px;
}

.link-button.menu {
  color: white;
  height: 40px;
  width: 150px
}

.under-layer-cource {
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/course-hero-pc.png);
    padding-top: 60px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f79314;
}

.under-layer-heading {
  color: white;
  padding-left: 150px;
  font-size: 40px;
}

.section-header.bottom-line::after {
    content: '';
    display: block;
    border-bottom: solid 6px #f79314;
    width: 50px;
    margin-top: 20px;
}

.section-header.contents-tidy {
  flex-direction: column;
  align-items: center;
}

.main-section-cource-details {
    background-color: #fcfaf5;
    padding-top: 75px;
}

.section-main-heading {
  font-size: 46px;
  font-weight: bold;
}

.section-header h2 > span {
  font-weight: 900;
}

.detail-text {
  text-align: center;
  line-height: 30px;
  padding-top: 30px;
}

.detail-text-emphasize {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.main-section-cource-details .section-content {
  margin-top: 60px;
}

.detail-point {
  background-color: white;
  text-align: center;
  border-radius: 20px;
  margin-top: 100px;
  padding: 40px;
}

.list-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -90px auto 0 auto;
    background-color: #fcfaf5;
    border-radius: 50%;
    color: #f79314;
    font-weight: bold;
    font-size: 40px;
    background-color: white;
}

.icon-no-img {
  width: 40px;
}

.detail-point-title {
  font-size: 32px;
  margin-top: -15px;
}

.point-box {
  width: 31%;
}

.detail-cource-block-box {
  display: flex;
  text-align: center;
  margin-top: 50px;
}

.detail-cource-block {
  width: 48%;
  border: 1px solid #7070701A;
  border-radius: 10px;
}

.detail-cource-block:first-child {
  padding-right: 30px;
}

.cource-block-header {
  background-color: orange;
  color: white;
}

.cource-block-header > p {
  font-weight: bold;
  font-size: 20px;
}

.cource-block-price {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2;
}

.cource-block-price > span {
  font-size: 12px;
}

.cource-content-body {
    font-size: 16px;
    color: #22222299;
    line-height: 2em;
    text-align: left;
    margin-bottom: 10px;
}

.cource-block-content {
   background-color: white;
   padding: 10px;
}

.cource-block-cream {
   background-color: #fff8ea;
   padding: 20px;
}

.cource-block-cream01 {
   background-color: #fff8ea;
   padding: 8px;
}

.cource-block-cream01 > span {
   font-size: 30px;
   font-weight: bold;
}

.cource-block-white {
  padding: 20px;
  font-weight: 100px;
}

.cource-block-white > span {
  color: orange;
}

.plan-box {
  background-color: #fcfaf5;
  border-radius: 10px;
  padding: 30px;
  margin-top: 70px;
}

.plan-box-head {
  text-align: center;
  font-weight: bold;
}

.plan-head {
  font-size: 32px;
    max-width: 476px;
    margin: 0 auto;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    color: #f79214;
    background: -webkit-linear-gradient(-40deg, #f79214, #f74e06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plan-cage-head {
  font-weight: bold;
  font-size: 20px;
}

.plan-box-cage {
  background-color: white;
  margin-top: 40px;
  padding: 5px;
}

.plan-cage-head::before {
    content: '';
    position: relative;
    top: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/heading-icon.png);
    background-size: 100%;
}

.cage-detail-title.pencil::before {
    width: 17px;
    height: 17px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-pencil.png);

}

.cage-detail-title.carender::before {
    content: '';
    position: relative;
    top: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-calender.png);
    background-size: 100%;
}

.cage-detail-title.person::before {
    content: '';
    position: relative;
    top: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-condition.png);
    background-size: 100%;
}

.cage-detail-title.fee::before {
    content: '';
    position: relative;
    top: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-coin.png);
    background-size: 100%;
}


.cage-detail-title {
    align-items: center;
    width: 100px;
    margin-top: 20px;
    padding: 4px 26px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    color: #f79214;
    background-color: #fcfaf5;
}

.cage-detail.text {
  line-height: 15px;
}

.plan-cage-tool {
  width: 48%;
  padding: 10px;
}

.plan-cage-tools {
  display: flex;
  flex-wrap: wrap;
}

.plan-cage-tool-head {
  font-weight: bold;
}

.plan-box-cage .corce-skip-img {
    float: left;
    width: 90px;
    height: 90px;
    text-align: center;
    margin-right: 20px;
}

.corce-skip-text {
  display: contents;
  display: inline-block;
}

.corce-skip {
  padding: 20px;
}

.main-section.corce-interview {
background-color: #f6f6f6;
margin-top: 50px;
padding-bottom: 90px;
}

.corce-interview > .content-width {
background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/bg-section-top-course.png);
    background-size: 281px 275px;
    background-repeat: no-repeat;
    background-position: calc(100% - 50px) top;
    padding-top: 35px;
}

.corce-interview-box {
  width: 33%;
  padding-right: 20px;
  
}

.corce-interview-content-list {
margin-top: 50px;
}

.corce-interview-text {
  color: black;
  line-height: 2;
  font-weight: bold;
}

.corce-interview-img {
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 0;
    position: relative;
    padding-top: calc((190/320) * 100%);
}

.corce-interview-img > img {
    width: 100%;
    height: 145%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
}

.site-footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #f79314;
}

.potepan-address img {
  width: 100%;
  height: auto;
}

.footer-logo {
    display: inline-block;
    max-width: 280px;
}

.footer-company {
  padding-top: 30px;
}

.footer-social-img {
    display: inline-block;
    max-width: 60px;
    padding-right: 80px;
    margin-left: -50px;
}

 
.potepan-address .footer-social-img > img {
  width:100%;
  height: auto;
}

.footer-social {
  display: flex;
}

.footer-navi {
  line-height: 3.5;
  color: white;
}

.footer-img {
  align-self: flex-end;
  padding-bottom: 30px;
}

.footer-img > img {
  width: auto;
  height: 70px;
}

.footer-info {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer-info > span {
  font-weight: 300;
  padding-left: 20px;
}

.footer-copyright {
  font-weight: 200;
}

.hover-scale {
  animation: fadeIn 0.2s ease 0.3s 1 normal;
}

.under-decoration {
    background: linear-gradient(transparent 70%, #fff79d 70%, #fff79d);
    
}

@media screen and (max-width: 767px) {
  .content-width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}
}

@media screen and (max-width: 1080px){
.site-header {
    position: fixed;
    background-color: #fff;
    z-index: 10;
    width: 100%;
}
}


@media screen and (max-width: 767px){
.header-logo > .header-logo-sp {
    display: inline-block;
    width: auto;
    height: 16px;
}
}

@media screen and (max-width: 1080px) {
.header-navi .header-nav-hamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
}
}

@media screen and (max-width: 1080px) {
.header-navi .header-nav-hamburger-line:first-child {
    top: 0;
}
}

@media screen and (max-width: 1080px) {
.header-navi .header-nav-hamburger-line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #222;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
}
}
 
@media screen and (max-width: 1080px) {
.header-navi .header-nav-hamburger-line:last-child {
    top: 100%;
}
}

@media screen and (max-width: 767px) {
.header-navi .header-navi-list {
    top: 52px;
}
}

@media screen and (max-width: 1080px) {
.header-navi .header-navi-list {
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform 0.5s;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-overflow-scrolling: touch;
}
}


@media screen and (max-width: 1080px) {
.header-navi .header-nav-item {
    padding: 20px 0;
}
}

@media screen and (max-width: 1080px) {
.header-navi .header-nav-item > span:first-child {
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
}
}

@media screen and (max-width: 1080px) {
.header-navi-list > li + li:last-child {
    margin-left: 0;
}
}

.site-header .site-header-inner > *:last-child {
    display: inline-flex;
}


.header-navi-list.contents-tidy {
    align-items: center;
}

.header-navi .header-nav-item {
    display: block;
}

.header-navi .header-nav-item > span {
    display: block;
    font-weight: bold;
    text-align: center;
}

.header-logo > .header-logo-sp {
    display: none;
}

.header-navi .header-navi-list > li + li {
    margin-left: 30px;
}

.header-navi .header-nav-item > span:last-child {
    font-size: 10px;
}

.header-navi .header-nav-item > span:first-child {
    font-size: 13px;
}

@media screen and (max-width: 1080px) {
.header-navi .header-navi-list.is-active {
    transform: translate3d(-100%, 0, 0);
}
}

@media screen and (max-width: 1080px) {
.header-navi .is-active .header-nav-hamburger-line {
    will-change: top;
    transform: translate(20px, -50%);
    opacity: 0;
}
}

@media screen and (max-width: 1080px) {
.header-navi .is-active .header-nav-hamburger-line:first-child {
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    opacity: 1;
}
}

@media screen and (max-width: 1080px) {
.header-nav .is-active .header-nav-hamburger-line:last-child {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
    opacity: 1;
}
}

@media screen and (max-width: 767px) {
main {
    padding-top: 52px;
}
}

@media screen and (max-width: 767px) {
.under-layer-cource.hero {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/course-hero-sp.png);
    background-size: 100%;
}
}

@media screen and (max-width: 767px) {
.under-layer-cource {
    background-size: 100%;
    padding-top: 42px;
    padding-bottom: 90px;
    background-size: contain;
}
}

@media screen and (max-width: 767px) {
.under-layer-heading {
    padding: 0;
    font-size: 22px;
    text-align: center;
    line-height: 1.3;
}
}

@media screen and (max-width: 767px) {
.section-main-heading {
    text-align: center;
    font-size: 26px !important;
    line-height: 1.2;
}
}

.section-header {
    width: 100%;
}

@media screen and (max-width: 767px) {
.sp-br {
    display: block;
}
}

@media screen and (max-width: 767px) {
.detail-text {
    font-size: 15px;
    text-align: left;
}
}

@media screen and (max-width: 767px) {
.pc-br {
    display: inline;
}
}

@media screen and (max-width: 767px) {
.detail-text-emphasize {
    font-size: 16px;
    text-align: center;
}
}

@media screen and (max-width: 767px) {
.under-decoration>br {
    display: block;
}
}

.under-decoration>br {
    display: none;
}

@media screen and (max-width: 767px)ã€€{
.detail-text {
    font-size: 15px;
    text-align: left;
}
}

@media screen and (max-width: 767px) {
.detail-point {
    margin-top: 80px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
}
}

@media screen and (max-width: 767px) {
.detail-point .list-icon {
    width: 80px;
    height: 80px;
    margin-top: -70px;
}
}

@media screen and (max-width: 767px) {
.icon-no-img {
    width: 32px;
}
}

@media screen and (max-width: 767px) {
.detail-point-title {
    font-size: 20px;
}
}

@media screen and (max-width: 767px) {
.detail-box {
    flex-direction: column;
}
}

@media screen and (max-width: 767px) {
.point-box {
    width: 100%;
    margin-top: 36px;
}
}

@media screen and (max-width: 767px) {
.point-box-title {
    font-size: 15px;
}
}

.point-box-title {
    padding: 4px;
    border-radius: 15px;
    color: #fff;
    background-color: #222;
}

.point-box-image {
    margin-top: 16px;
}

.point-box-text::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 20px;
    margin-right: 10px;
    background: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-finger.png) no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 767px) {
.detail-cource-block-box {
    overflow-x: auto;
    padding: initial;
    display: block;
}
}

@media screen and (max-width: 767px) {
.detail-cource-block:first-child {
    margin-right: initial !important;
    margin-bottom: 60px;
}
}

@media screen and (max-width: 767px) {
.detail-cource-block {
    min-width: initial !important;
    width: 100%;
}
}

@media screen and (max-width: 767px) {
.main-section-cource-plan {
    padding-top: 60px;
    padding-bottom: 60px;
}
}

@media screen and (max-width: 767px) {
.plan-box {
    margin-top: 40px;
    padding: 20px;
}
}

@media screen and (max-width: 767px) {
.plan-head {
    font-size: 24px;
    line-height: 27px;
}
}

.plan-head br {
    display: none;
}

@media screen and (max-width: 767px) {
.plan-head br {
    display: block;
}
}

@media screen and (max-width: 767px) {
.plan-box {
    margin-top: 50px;
    padding: 20px;
}
}

@media screen and (max-width: 767px) {
.plan-cage-head {
    margin-bottom: 10px;
    text-align: center;
}
}

.cage-list-contents-tidy::before {
    content: '';
    display: inline-block;
    min-width: 8px;
    height: 8px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 50%;
    background-color: #f79314;
}

@media screen and (max-width: 767px) {
.cage-list-contents-tidy {
    font-size: 15px;
    line-height: 22px;
}
}

.cage-list-contents-tidy {
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 8px;
    font-size: 16px;
    line-height: 26px;
}

@media screen and (max-width: 767px){
.cage-detail-title {
    margin-right: auto;
    margin-left: auto;
    padding-right: 22px;
    padding-left: 22px;
}
}

.cage-detail-title::before {
    content: '';
    display: inline-block;
    margin-top: 2px;
    margin-right: 6px;
    background-size: 100%;
}

@media screen and (max-width: 767px) {
.cage-detail.text {
    padding-left: 0;
    text-align: center;
    margin-top: 20px;
    line-height: 2;
    font-size: 15px;
}
}

@media screen and (max-width: 767px) {
.plan-cage-tool {
    float: initial !important;
    width: initial !important;
}
}

@media screen and (max-width: 767px) {
.plan-box-cage .corce-skip-img {
    float: initial;
    width: 65%;
    height: initial;
    max-width: 130px;
    margin: 0px auto 20px;
}
}

@media screen and (max-width: 767px) {
.corce-skip-text {
    float: initial;
    text-align: center;
}
}

.corce-skip-text > h4 > br {
  display: none;
}

@media screen and (max-width: 767px) {
.corce-skip-text >h4 >br {
    display: block;
}
}

@media screen and (max-width: 767px) {
.corce-skip-text>h4 {
    margin-bottom: 14px;
    font-size: 20px;
}
}

.corce-skip-text > p > span {
  color: orange;
}

@media screen and (max-width: 767px) {
.corce-skip-text >p {
    text-align: left;
}
}

@media screen and (max-width: 767px) {
.corce-interview-content-list {
    display: initial;
}
}

@media screen and (max-width: 767px) {
.corce-interview-box {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}
}

.site-footer-main .footer-nav {
    order: 2;
}

.site-footer-main .footer-character {
    order: 3;
    align-self: flex-end;
}

.footer-nav-item:link, .footer-nav-item:visited {
    color: #fff;
}

.footer-nav-item > span {
    font-weight: normal;
    margin-left: 1em;
}

.footer-nav > li + li {
    margin-top: 30px;
}

.footer-nav-item {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.footer-character > img {
    width: auto;
    height: 70px;
}

.footer-info .footer-logo + .footer-company {
    margin-top: 25px;
}

.footer-info .footer-company + .footer-address {
    margin-top: 10px;
}

.footer-info .footer-address + .footer-social {
    margin-top: 35px;
}

.footer-info .footer-social-item {
    display: block;
    max-width: 60px;
}

.footer-info .footer-social-item > img {
    width: 100%;
    height: auto;
}

.footer-info .footer-social > li + li {
    margin-left: 20px;
}

.site-footer .site-footer-main + .site-footer-sub {
    margin-top: 60px;
}

.footer-copyright {
    color: #fff;
    font-size: 12px;
}

@media screen and (max-width: 767px) {
.site-footer-main .footer-nav {
    text-align: left;
    margin-left: 20px;
}
}

@media screen and (max-width: 767px) {
.site-footer-main * + .footer-character {
    margin-top: 50px;
}
}

@media screen and (max-width: 767px) {
.site-footer-main {
    display: block;
    text-align: center;
}
}

@media screen and (max-width: 767px) {
.site-footer-main * + .footer-info {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #fff;
}
}

@media screen and (max-width: 767px) {
.footer-info .footer-social {
    justify-content: center;
}
}

@media screen and (max-width: 767px) {
.site-footer-sub {
    text-align: center;
}
}